

.all-text {
    color: black; 
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);  */
    font-family: 'Raleway', sans-serif;
}

.short-desc {
    background-color: rgba(114, 161, 119, 0.5); 
    padding: 20px;
    border-radius: 8px;
    color: rgb(31, 70, 44);
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); */
    text-align: left;
}

.welcome-header strong {
    font-weight: bold;
}


@media (max-width: 768px) {
    .welcome-header strong {
        font-size: 20px; 
    }
}

.btn-lg {
    padding: 20px 40px;  /* Increase padding */
    font-size: 20px;     /* Optional: Adjust font size as needed */
    width: 250px;        /* Optional: Specific width */
    height: 70px;        /* Optional: Specific height */
    margin-bottom: 2rem;
}

