.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.nav-item{
    color: black;
    font-size: large;
}

.navbar-color {
    background-color: lightgray;
}

.base-font {
    font-family: 'Raleway', sans-serif;
}

.main-color{ 
    background-color:#faf0e6; 
}

.content-title{
    justify-content: left;
    font-size: 45px;
    margin: 2rem 0 1rem;
}

.content-desc{
    font-size: 20px;
    margin: 0 0 2rem;
}

#homepage {
    /* background-color: #faf0e6; */
    height: 790px;
    margin: 0px;
    padding: 0px;
}

.welcome-header{
    font-size: 70px; 
    font-weight: bold;
    padding: 35px;
    margin: 4rem 0 0.5rem;

}

.accent-color {
    background-color: #023020;
}

.map-header{
    font-size: 40px; 
    /* font-weight: bold; */
    padding: 35px;
    margin: 4rem 0 0.5rem;

}

.white-text {
    color: white;
}

.short-desc{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 22px;
    color: gray;
    margin: 0rem 0 2rem;
}

.list-header{
    font-size: 35px; 
    font-weight: bold;
    padding: 35px;
    margin: 2rem 0 0.5rem;
}


.table-container {

    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 2rem 0 0.5rem;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    background-color: #000;
    color: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.loc-box{
    background-color: #f9f9f9;
    border-color: black;
    border-style: solid;
    /* border-style: dashed;  */
    /* border-width: thick; */
    font-size: 25px; 
    /* font-weight: bold; */
    padding: 10px;
    margin: 2rem 4rem 2rem;
}

#homepage {
    position: relative; 
    background-image: url('/static/images/homepage-splash.webp');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.title{
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.warning{
    color: red;
}

#map {
    height: 800px;
    width: 79%;
    margin-left: 0.1rem;
    margin-bottom: 4rem;
}

.slight-margin{
    margin-left: 0.1rem;
}

.accordion {
    background-color: #eee;
    /* color: #444; */
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
    margin: 0 0 0; 
    /* margin: 0rem 0 2rem; */
  }



  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    font-size: 25px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 2rem; 
    /* margin: 0rem 0 2rem; */
  }

  .panel-spacing{
    margin: 1rem 0 1rem;
  }

  .next-button{
    margin: 2rem 0 2rem;
    justify-content: center;
  }

  .accordion-loc {
    background-color: #eee;
    /* color: #444; */
    color: #000;
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin: 0 0 0; 
    /* margin: 0rem 0 2rem; */
  }

  .active, .accordion-loc:hover {
    background-color: #ccc;
  }
  
  .accordion-loc:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin: 1rem 0 1rem; 
    padding-right: 2px;
  }

  .image-marker{ 
    height: 34px;
    /* margin-right: 2px; */
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 34px;
    margin: 1rem 0 1rem; 
  }

  .panel-loc{
    padding: 0 18px;
    font-size: 18px;
    background-color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 2rem; 
    /* margin: 0rem 0 2rem; */
  }

  .img-sound{
    /* width: 300px;   Desired width */
    width: 400px;
    height: 400px; 
    object-fit: cover;
    margin: 1.25rem 0 1.5rem;
  }
