.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.nav-item{
    color: black;
    font-size: large;
}

.navbar-color {
    background-color: lightgray;
}

#homepage {
    position: relative; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.title{
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

