.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.nav-item{
    color: black;
    font-size: large;
}

.navbar-color {
    background-color: lightgray;
}


.welcome-header{
    font-size: 70px; 
    font-weight: bold;
    padding: 35px;
    margin: 4rem 0 0.5rem;

}

.short-desc{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 22px;
    color: gray;
    margin: 0rem 0 2rem;
}

#homepage {
    position: relative; 
    background-image: url('/static/images/homepage-splash.webp');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.title{
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#set-difficulty-text{
    align-self: center;
    margin-right: 10px;
}

.selected-difficulty {
    background-color: navy; /* Bootstrap's warning color for contrast */
    color: white;
}

.quiz-text{
    font-size: larger;
    margin-right: 15px;
}

.quiz-start{
    margin-top: 30px;
}
