#prev-q-btn{
    display: none;
    align-self: flex-start;
    font-size: 20px;
    padding: 10px 30px;
}

#next-q-btn{
    align-self: flex-end;
    background-color: #023020;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
}

.quiz-nav-buttons{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

#question-media{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

#media-image{
    display: block; 
    width: 100%;
    max-width: 600px; 
    margin-bottom: 10px;

}

#result-icon{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#result-icon img {
    width: 60px;
    height: auto;
    margin-top: 10px;
}

#question {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#question-num {
    margin-top: 100px;
}

#your-answer {
    font-size: 30px;
    text-align: center;
}

#correct-answer {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    #question-media img, #question-media audio {
        max-width: 100%;
        width: 95%; /* Slightly smaller to allow for some margin */
    }
}