#prev-q-btn{
    display: none;
    align-self: flex-start;
    font-size: 20px;
    padding: 10px 30px;
}

#next-q-btn{
    align-self: flex-end;
    background-color: #023020;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
}

.quiz-nav-buttons{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

#question-media {
    width: 100%;
    display: flex;
    flex-direction: column; /* This aligns children vertically */
    justify-content: center; /* Centers the children vertically in the container */
    align-items: center; /* Centers the children horizontally */
    margin-bottom: 10px;
}

#question-img{
    max-width:100%;
    height:auto;
}

#media-image {
    display: block;
    width: 250px; /* Takes the full width of its parent up to max-width */
    margin: 0 auto; /* Centers the image horizontally */
    margin-bottom: 10px; /* Space below the image */
}


#result-icon{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#result-icon img {
    width: 60px;
    height: auto;
    margin-top: 10px;
}

#question {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#question-num {
    margin-top: 100px;
}

#your-answer {
    font-size: 30px;
    text-align: center;
}

#correct-answer {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    #question-media img, #question-media audio {
        max-width: 100%;
        width: 95%; /* Slightly smaller to allow for some margin */
    }
}