.bird-name { font-size: 50px; font-weight: bold;  font-family: 'Raleway', sans-serif}
.bird-scientific-name { font-size: 20px; font-style: italic;  font-family: 'Raleway', sans-serif}
.bird-habitat { font-style: italic;  font-family: 'Raleway', sans-serif}
.bird-image { border: 2px solid black;  font-family: 'Raleway', sans-serif}
.bird-sound { margin-top: 10px;  font-family: 'Raleway', sans-serif}
.bird-video { margin-bottom: 20px;  font-family: 'Raleway', sans-serif}
.bird-description { background-color: #f0f0f0; padding: 10px;  font-family: 'Raleway', sans-serif}
.bird-fun-fact { font-weight: bold;  font-family: 'Raleway', sans-serif}
.bird-season { text-decoration: underline;  font-family: 'Raleway', sans-serif}
