{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'bird_sounds.js') }}"></script>

<script>
    let results = {{results|tojson}}
    console.log(results)
</script>

<body class="main-color">
    <div class = "col-md-12"> 
        <div class = "row map-header"> 
           <strong>Birds Sounds Terminology </strong> 
        </div>
        <div id="tone"></div>

        <div class="row">
            <a href="/map"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">Next</button></a>
        </div>
    </div>
</body>

{% endblock %}