{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'bird_sounds.js') }}"></script>

<script>
    let results = {{results|tojson}}
    console.log(results)
</script>

<body class="main-color">
    <div class = "col-md-12"> 
        <div class = "row content-title"> 
           <strong>Birds Sounds Terminology </strong> 
        </div>
        <div clas = "row">
            <p class="content-desc">Birdsong serves vital communication roles, from attracting mates to marking territories. Each sound type—from the harsh cawing of crows to the melodious warbles of songbirds—has a distinct function and meaning. Explore the categories below to discover how these sounds vary across species and what they reveal about the intriguing behaviors of birds.</p>
        </div>
        <div id="tone"></div>

        <div class="row">
            <a href="/centralpark"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button">Next</button></a>
        </div>
    </div>
</body>

{% endblock %}