{% extends "layout.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body class="main-color">
    <div class="row">
        <div class="col-md-12">
            <div class = "row content-title"> 
                <strong>Interactive Central Park Map </strong> 
            </div>
            <div class="row slight-margin">
                <p class="content-desc">Discover the diverse birdlife of Central Park with our interactive map. Click on different habitats—Freshwater, Open Areas, and Woodlands—to learn about the bird species that thrive in each and listen to their unique calls. This tool helps you visualize where different bird sounds can be heard, enhancing your birdwatching experience.</p>
            </div>
            <div class ="row">
                <div class="col-md-6">
                    <div class="row map-container" id="map"></div>
                    <!-- <div class="row">
                        <a href="/sound"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button">Bird Sound Terminology</button></a>
                    </div> -->
                </div>
                <div class="col-md-6 loc-design">
                    <div class="row py-3">
                        <strong> <h3>Types of Location/Habitats: </h3></strong>
                    </div>
                    <div class="row">
                        <button class = "accordion"><img src ="../static/assets/water.png" class="image-marker">Freshwater</button>
                        <div class="panel-loc">
                            <p>Lakes, small streams, ponds, and the Reservoir</p>
                            <ul>
                                <li id="link-harlem-meer"><span class="cursor-bullet">Harlem Meer</span></li>
                                <li id="link-reservoir"><span class="cursor-bullet">Reservoir</span></li>
                                <li id="link-turtle-pond"><span class="cursor-bullet">Turtle Pond</span></li>
                                <li id="link-lake"><span class="cursor-bullet">The Lake</span></li>
                                <li> along streams in the wooded areas such as the <span id="link-gill" class="cursor-bullet">Gill</span> and the <span id="link-loch" class="cursor-bullet">Loch</span></li>
                            </ul>
                            <a href = "/birds/freshwater">List of Freshwater birds </a>
                            
                        </div>
                        <button class = "accordion"><img src ="../static/assets/openarea.png" class="image-marker">Open Areas</button>
                        <div class="panel-loc">
                            <p>Gardens, lawns, small meadows, and field edges</p>
                            <ul>
                                <li id="link-wildflower"><span class="cursor-bullet">Wildflower Meadows</span></li>
                                <li id="link-conservatory"><span class="cursor-bullet">Conservatory Garder</span></li>
                                <li id="link-shakespeare"><span class="cursor-bullet">Shakespeare Garden</span></li>
                                <li id="link-great-lawns"><span class="cursor-bullet">Great Lawns</span>, open grassy areas throughout the Park</li>
                            </ul>
    
                            <a href = "/birds/open-areas">List of Open Areas birds</a>
                            
                        </div>
                        <button class = "accordion"><img src ="../static/assets/woodlands.png" class="image-marker">Woodlands</button>
                        <div class="panel-loc">
                            <p>Places where many trees grow close together</p>
                            <ul>
                                <li id="link-ramble"><span class="cursor-bullet">Ramble</span></li>
                                <li id="link-north-woods"><span class="cursor-bullet">North Woods</span></li>
                                <li id="link-hallet-nature"><span class="cursor-bullet">Hallett Nature Sanctuary</span></li>
                            </ul>
                            <a href = "/birds/Woodlands">List of Woodlands birds</a>
                            
                        </div>
    
                        <!-- <div class="row">
                            <a href="/birds"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button">List of Birds</button></a>
                        </div> -->
        
                    </div>
                </div>
    
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-6 text-left">
            <a href="/sound"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button"> << Bird Sound Terminology</button></a>
        </div>
        <div class="col-md-6 text-right">
            <a href="/birds"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button">List of Birds >> </button></a>
        </div>

    </div>
        
       
   



<script type="text/javascript">
    var freshwaterIconUrl = "{{ url_for('static', filename='assets/water.png') }}";
    var openareaIconUrl = "{{ url_for('static', filename='assets/openarea.png') }}";
    var woodlandIconUrl = "{{ url_for('static', filename='assets/woodlands.png') }}";
</script>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'map.js') }}"></script>


</body>
</html>


{% endblock %}