{% extends "layout.html" %}

{% block content %}

<body class="main-color"> 
    <div class="col-md-12" id="homepage">
        <div class = "row justify-content-center welcome-header base-font">
            <center><strong>Welcome to <br> Central Park Tweeters!</strong></center>
        </div>

        <div class="row justify-content-center short-desc base-font">
            <p>Learn how to identify bird species at Central Park through <br> bird sounds, visuals, and their dwellings
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/sound"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">Prepare by familiarizing the <br> different type of bird sounds</button></a>
            </div>
            <div class="col-md-4 justify-content-center">
                <a href="/birds"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">List of different species <br> of Birds</button></a>
            </div>
            <div class="col-md-4">
                <a href="/map"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">Central Park Map with Bird sightings</button></a>
            </div>
        </div>
    </div>

</body>

{% endblock %}