{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">

<body> 
    <div class="col-md-12 all-text" id="homepage">
        <div class = "row justify-content-center welcome-header base-font">
            <center><strong>Welcome to <br> Central Park Tweeters!</strong></center>
        </div>

        <div class="row justify-content-center short-desc base-font">
            <ul>
                <li>Learn how to identify bird species at Central Park through:
                    <ul>
                        <li>Sounds</li>
                        <li>Visuals</li>
                        <li>Habitats/Dwellings</li>
                    </ul>
                </li>
                <li>In this website, you will first learn:
                    <ul>
                        <li>Sound Terminology</li>
                        <li>Habitats in central park that correspond with certain birds</li>
                        <li>Methods for detecting sounds of birds</li>
                    </ul>
                </li>
                <li>At the end, you will be prompted to a quiz section to test what you have learned!</li>
              </ul>
            <p>
                <br>Click the button below to begin! 
            </p>
        </div>

        <div class="row justify-content-center">
                <a href="/sound"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">Let's get started!</button></a>
        </div>


        <!-- <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/sound"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">Prepare by familiarizing the <br> different type of bird sounds</button></a>
            </div>
            <div class="col-md-4 justify-content-center">
                <a href="/birds"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">List of different species <br> of Birds</button></a>
            </div>
            <div class="col-md-4">
                <a href="/map"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text">Central Park Map with Bird sightings</button></a>
            </div>
        </div> -->
    </div>

</body>

{% endblock %}