{% extends "layout.html" %}

{% block content %}

<body>
    <div class="table-container">
        <h1>List of Birds:</h1>
        <table>
            <thead>
                <tr>
                    <th>Bird Name</th>
                    <th>Season</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>American Crow</td>
                    <td>All Year</td>
                </tr>
                <tr>
                    <td>Blue Jay</td>
                    <td>All Year</td>
                </tr>
               
            </tbody>
        </table>
    </div>


</body>

{% endblock %}