{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'list_birds.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='list_birds.css')}}">

<script>
    let results = {{results|tojson}}
    console.log(results)
</script>


<body>
    <div class="table-container">
        <h1>List of Birds:</h1>
        <table>
            <thead>
                <tr>
                    <th>Bird Name</th>
                    <th>Season</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</body>

{% endblock %}