{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'list_birds.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='list_birds.css')}}">

<script>
    let results = {{results|tojson}}
    let loc = {{location|tojson}}
    let studied = {{studied|tojson}}
    console.log(results)
    console.log(loc)
    console.log(studied)
</script>


<body>
    <div class="table-container">
        <div id="list-title"></div>
        <table>
            <thead>
                <tr>
                    <th>Bird Name</th>
                    <th>Season</th>
                    <th>Studied?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-6 text-left">
            <a href="/centralpark"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button"> << Central Park Map </button></a>
        </div>
        <div class="col-md-6 text-right"> 
            <a href="/quiz"><button class="btn btn-outline-secondary btn-lg accent-color base-font white-text next-button">Quiz Me! >> </button></a>
        </div>
        
    </div>

</body>

{% endblock %}