{% extends "layout.html" %}

{% block content %}

<body>
    <div class="col-md-12"> 
        <div class="row justify-content-center map-header"> 
           <h1> Before looking at the map, let’s get familiar with the different locations you can find these different species of birds!  </h1>
        </div>
        <div class="row justify-content-center">
            <div class ="col-md-4 justify-content-center loc-box">
                <strong>Freshwater</strong> 
              <br> <br>
              Lakes, small streams, ponds, and the Reservoir
            </div>
            <div class ="col-md-4 justify-content-center loc-box">
                <strong>Woodlands</strong> 
              <br> <br>
              Places where many trees grow close together
            </div>
            <div class ="col-md-4 justify-content-center loc-box">
                <strong>Open Areas</strong> 
              <br> <br>
              Gardens, lawns, small meadows, and field edges

            </div>
        </div>
        <div class = "row justify-content-center"> 
           <a href="/centralpark"><button class="btn btn-outline-secondary btn-lg">Let's go to <br> Central Park Map</button></a>
        </div>
    </div>
</body>




{% endblock %}