{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='quiz.css')}}">

<script>
    let navigated = {{navigated|tojson}}
    console.log(navigated)
</script>


<div id="quiz">
    <div class="quiz-container" id="quiz-landing">
        <div class="title">Quiz</div>
        
        <div class="btn-group" id="difficulty-level" role="group" aria-label="Difficulty">
            <div class="quiz-text">Set the level of difficulty:</div>
            <button class="diff-button" type="button" id="easy-btn">Easy</button>
            <button class="diff-button" type="button" id="hard-btn">Hard</button>
        </div>

        <div class="warning" id="difficulty-warning">Please select a level of difficulty.</div>

        <button class="accent-color" id="quiz-start">Start</button>

        <div id="startModal" class="modal">
            <div class="modal-content">
                <span class="close text-left">&times;</span>
                <h2>Are sure you want to start the quiz?</h2>
                <p>You haven't studied all the content yet.</p>
                <div class="btns-popup">
                    <button class="text-left" id="study-more-btn">Review More</button>
                    <button class="text-right accent-color" id="continue-btn">Yes, Start Quiz</button>
                </div>
            </div>
        </div>
        
    </div> 

    <div class="quiz-container" id="quiz-section">
        <div class="title" id="question-num"></div>
        <div class="text" id="question"></div>
        <div id="question-media"></div>
        <div id="drag-and-drop-question-area" style="padding: 20px">
                <div id="bird-start-position" style="position: relative; height: 100px;"></div>
        </div>
        <div id="answers"></div>
        <div class="warning" id="answer-warning">Please choose an answer.</div>
        <div class="quiz-nav-buttons">
            <button type="button" id="prev-q-btn">Back</button>
            <button type="button" id="next-q-btn">Next</button>
            <button type="button" id="submit-quiz-btn">Submit Quiz</button>
        </div>
    </div>

    <div class="quiz-container" id="quiz-results">
        <div class="title" id="result-congrats">Quiz Result</div>
        <div class="text score"><strong>Your score: </strong></div>
        <div class="score" id="quiz-score"></div>
        <div class="single-btn">
            <button type="button" id="review-quiz">Review Quiz</button>
        </div>
        <div class="single-btn">
            <button type="button" id="past-quiz">See Past Quizzes</button>
        </div>
        <div class="quiz-nav-buttons">
            <button type="button" id="redo-quiz">Quiz Me Again!</button>
            <button type="button" id="go-home">Continue Learning</button>
        </div>
    </div>

</div>

{% endblock %}