{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_history.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='quiz_history.css')}}">

<script>
    let history = {{history|tojson}}
    console.log(history)
</script>


<body>
    <div class="table-container">
        <div id="past-quiz-title">Past Quizzes</div>
        <table>
            <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>Difficulty Level</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</body>

{% endblock %}