{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'view-bird.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='view-bird.css')}}">

<script>
    let id = {{id|tojson}}
    console.log(id)
</script>

<div id="view-bird">
    <div id="bird-name" class="bird-name"></div>
    <div id="bird-scientific-name" class="bird-scientific-name"></div>
    <div id="bird-img" class="bird-img"></div>
    <div id="bird-info-section" class="bird-info-section">
        <div id="bird-habitat" class="bird-habitat"></div>
        <div id="bird-season" class="bird-season"></div>
        <div id="bird-description" class="bird-description"></div>
        <div id="bird-fun-fact" class="bird-fun-fact"></div>
    </div>
    <div id="bird-sound-section" class="bird-sound-section">
        <div id="bird-sound" class="bird-sound"></div>
        <div id="bird-tone" class="bird-tone"></div>
    </div>
    <div id="bird-video" class="bird-video"></div>
</div>

{% endblock %}