{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'view-bird.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='view-bird.css')}}">

<script>
    let id = {{id|tojson}}
    console.log(id)

    let navigated = {{navigated|tojson}}
    console.log(navigated)
</script>

<body> 
    <div id="view-bird" class="col-md-12">
        <div class="nav-buttons">
            <button type="button" id="back-btn">Back</button>
            <button type="button" id="next-btn">Next</button>
        </div>

        <div class=" row top-design">
            <div class="col-md-6">
                <div id="bird-name" class="row bird-name "></div>
                <div id="bird-scientific-name" class="row bird-scientific-name"></div>
            </div>

            <div class="col-md-6 icon-design">
                <div class="row"> 
                    <div id ="bird-icon" class="bird-icon"></div>
                    <div id = "bird-icon2" class="bird-icon2 pr-5"></div>
                </div>
                
            </div>
        </div>
        
        <div id="bird-img" class="row img-container"></div>


        <div class="row info-design">
            <div id="bird-info-section" class=" col-md-6 bird-info-section">
                <div class="row "><strong>Habitat: </strong> </div>
                <div id="bird-habitat" class="row bird-habitat pb-4 "></div>
                <div class="row"> <strong>Season:</strong> </div>
                <div id="bird-season" class="  row bird-season pb-4"></div>
            </div>
            <div id="bird-info-section" class=" col-md-6 bird-info-section">
                <div class="row"> <strong>Tone:</strong> </div>
                <div id="bird-tone" class="row bird-tone pb-4"></div>
                <div class="row"> <strong> Bird Sound: </strong> </div>
                <div id="bird-sound" class="row bird-sound pb-4"></div>
            </div>
        </div>


        <div class="row desc-design"> 
            <div class="bird-info-section col-md-12">
                <div class="row"><strong>Description</strong>: </div>
                <div id="bird-description" class="row bird-description pb-4"></div>
                <div class="row"><strong>Fun Fact:</strong> </div>
                <div id="bird-fun-fact" class="row bird-fun-fact pb-4"></div>
                <div class="row"><strong>Video:</strong> </div>
                <div id="bird-video" class="row bird-video"></div>
    
            </div>    

        </div>


       

      
       
        
       
        <!-- <div id="bird-sound-section" class="bird-sound-section">
            <div id="bird-sound" class="bird-sound"></div>
            <div id="bird-tone" class="bird-tone"></div>
        </div> -->
        
    </div>

    <script type="text/javascript">
        var freshwaterIconUrl = "{{ url_for('static', filename='assets/water.png') }}";
        var openareaIconUrl = "{{ url_for('static', filename='assets/openarea.png') }}";
        var woodlandIconUrl = "{{ url_for('static', filename='assets/woodlands.png') }}";
        var springIconUrl = "{{ url_for('static', filename='assets/flower.png') }}";
        var fallIconUrl = "{{ url_for('static', filename='assets/maple-leaf.png') }}";
        var allyearIconUrl = "{{ url_for('static', filename='assets/season.png') }}";
    </script>

</body>



{% endblock %}